<h1>Here's your cart!</h1>
<% cart.each do |item| %>
  <%= item %>
<% end %>


<br><br>

<h1>Add a Product!</h1>

<%= form_tag '/' do %>
  <input name=product>
  <input type=submit value='add to cart'>
<% end %>
